.h2 {
  font-size: 25px;
  font-family: Helvetica;
  font-weight: 500;
}
.h3 {
  font-size: 14px;
  font-family: Helvetica;
  font-weight: 500;
}
.backgroundImage {
  background-image: url('/projects.jpg');
  background-color: black;
}
